:host {
  display: block;
  border: 1px solid #333;
  padding: 8px;
}

header {
  display: flex;
  justify-content: space-between;

  & > span, & > button {
    flex-grow: 0;
    flex-shrink: 0;
  }
  & > span {
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    white-space: nowrap;

    &.description {
      flex-shrink: 1;
      flex-grow: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

audio {
  margin: 12px 0;
  width: 100%;
}

form {
  .controls {
    display: flex;
    flex-wrap: wrap;

    margin-right: -12px;

    & > * {
      flex-basis: 200px;
      flex-grow: 1;
      margin-right: 12px;
    }
    .comments {
      flex-basis: 400px;
    }
  }
}
